<%- include('partials/header', {
  title: 'Explore'
}) %>

<%- include('partials/navigation', {
  path: '/explore'
}) %>

<div class="container mt-5">
  <h1>Explore Career Options</h1>
  <p>Content coming soon</p>
</div>

<%- include('partials/footer', {
  useVanta: false
}) %>
